Tools/BinaryToCpp/BinaryToCpp/obj/
Tools/BinaryToSnd/BinaryToSnd/obj/
*.suo
extras/Tools/PGImageTool/.vs/
extras/Tools/PGImageTool/PGImageTool/obj/
extras/Tools/BinaryToSnd/.vs/BinaryToSnd/v15/Server/sqlite3/db.lock
extras/Tools/BinaryToSnd/.vs/BinaryToSnd/v15/Server/sqlite3/storage.ide
extras/Tools/BinaryToSnd/.vs/BinaryToSnd/v15/Server/sqlite3/storage.ide-shm
extras/Tools/BinaryToSnd/.vs/BinaryToSnd/v15/Server/sqlite3/storage.ide-wal
extras/Tools/BinaryToSnd/BinaryToSnd/obj/Debug/BinaryToSnd.csproj.CoreCompileInputs.cache
extras/Tools/BinaryToSnd/BinaryToSnd/obj/Debug/BinaryToSnd.csproj.FileListAbsolute.txt
extras/Tools/BinaryToSnd/BinaryToSnd/obj/
